{% extends "base.html" %}

{% block content %}
<h1>Welcome to the Chatbot Page</h1>
<form action="/chatbot" method="post">
    <label for="user_input">User Input:</label>
    <input type="text" id="user_input" name="user_input" required>
    <button type="submit">Submit</button>
</form>

{%if chatbot_response %}

<div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title"> Financial bot </h5>
      <p class="card-text"> <span style="white-space: pre-line">{{chatbot_response}}</span>  </p>
      <a href="#" class="btn  btn-primary">
        Nice!
      </a>
    </div>
</div>

{%endif%}

{% endblock %}