{% extends "base.html" %}

{% block content %}
<div class="vertical"></div>

<div class="container" style="height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;">

  <img src="Images/Image.svg" alt="budget" style="width: 200px; height: auto; margin-bottom: 20px;">
  <div class="row">
    <div class="col-md-auto">
      <button class="btn btn-primary btn-lg me-md-2 my-3" type="Login">Sign In</button>
      <button class="btn btn-primary btn-lg me-md-2 my-3" type="Login">Sign Up</button>
    </div>
  </div>
</div>
{% endblock %}
