{% extends "base.html" %}

{% block content %}
<div class="vertical"></div>

<div class="container landing-container">
  <img src="/static/Images/Image.svg" alt="budget" class="landing-image">

  <div class="message">
    <h2 class="landing-title">Welcome to BudgetBuddy</h2>
    <p class="landing-description">The best budget and expense tracker app</p>
  </div>

  <div class="action-buttons">
    <a class="btn btn-primary btn-lg landing-btn" href="/Signin/">Sign In</a>
    <a class="btn btn-primary btn-lg landing-btn" href="/Signup/">Sign Up</a>
  </div>  
</div>
{% endblock %}
  

